{% extends 'posts/base.html' %}

{% block title %}
Posts
{% endblock %}

{% block content %}


<style>
    .card {
        width: 300px; /* Fixed width */
        height: 400px; /* Fixed height */
        overflow: hidden; /* Ensures no overflow from content */
    }
    .card-img-top {
        width: 100%; /* Ensures image takes full width of card */
        height: 200px; /* Sets a fixed height for the image */
        object-fit: cover; /* Ensures the image covers the area without distortion */
    }
</style>

<div class="container">
    <div class="row">
        {% for post in posts %}
        <div class="col-md-4 mb-4"> <!-- Adjust col-md-4 for 3 cards per row -->
            <div class="card h-100">
                <a href="{% url 'single_post' post.id %}"><img src="{{ post.post_image.url }}"
                                                               class="card-img-top img-fluid"
                                                               alt="Image for {{ post.title }}"></a>
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text" style="font-weight: normal;">{{ post.body|truncatechars:30|striptags }}</p>
                    <p class="card-text text-muted">Posted by: {{ post.owner.username }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}