{% extends 'posts/base.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}
<div class="container">

    <h2 class="text-center">Login</h2>
<form method="POST" class="form-signin">
    {% csrf_token %}
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" name="email" required>
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" name="password" required>
    </div>
    <button type="submit">Login</button>
    <a href="{% url 'reset_password' %}">Forgot password?</a>
</form>
</div>
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}