{% extends 'posts/base.html' %}

{% block title %}
reset password
{% endblock %}

{% block content %}

<div class="container">
    <h2>Password Reset</h2>
    <p>Please enter your email address to reset your password.</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }} <!-- Renders all form fields -->
        <button type="submit" class="btn btn-primary">Send password reset email</button>
    </form>
    {% if messages %}
    <div class="alert alert-info">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </div>
    {% endif %}
</div>

{% endblock %}